section.red.background{
	background-color: red; 
}
/*
section.our.title {
	color: purple;
}*/

.reveal h1,
.reveal h2 {
	color: #7D7D7D; 
	font-weight: normal;
	line-height: 1.0;
	letter-spacing: normal;
	font-family: 'Merriweather', serif;
	text-transform: none;
	text-shadow: none;
	text-align: left;
}

.reveal h1 {
	font-size: 70px;
}
.reveal h2 {
	font-size: 50px;
}


.reveal p {
	text-align: left;
	color: #5F5F5F;
	font-weight: normal;
	font-family: 'Merriweather', serif;
	font-size: 30px;
}

/* ------------------------------------------------------ Custom paragraphs */

DIV.emphsentence P {
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  font-style: italic;  
  text-align: center;
}

DIV.mytitle P {
	color: #7D7D7D; 
	font-weight: normal;
	line-height: 1.0;
	letter-spacing: normal;
	font-family: 'Merriweather', serif;
	text-transform: none;
	text-shadow: none;
	text-align: left;
	position:absolute;
	top: -37px;
	left: -20px;

}

/* ------------------------------------------------------ The refs section */
DIV.refs {
  background-color: rgba(255,255,255,0);
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 2px 0 0 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
}

DIV.refs P, DIV.refs P A {
  color: rgba(0,0,0,.4);
  margin: 0;
}

DIV.refs DIV.ulist {
  margin: 0; padding: 0;
      font-size: 1.3rem;
    line-height: 0.9;

}

DIV.refs DIV.ulist UL {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
DIV.refs DIV.ulist UL LI {
  width: 50%;
  float: right;
  text-align: center;
}

/* hovering effects */
DIV.refs:hover {
  background-color: #745d4860;
  cursor: pointer;
}
DIV.refs:hover LI P {
  color: black;
}
DIV.refs LI:hover P A {
  text-decoration: underline;
  color: blue;
}
/* ------------------ footer ----------*/
#footer-right {
    position: absolute;
    bottom: 0%;
    right: 0%;
    max-width: 13%;
}
#footer-left {
    position: absolute;
    bottom: 0%;
    left: 0%;
    max-width: 9%;
}
#footer-bar {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0%;
    background-color: #015681;
}